
     /*sección principal */
#hero{
    background:
    linear-gradient(rgba(216,240,247,.85),rgba(216,240,247,.85)),
    url("../img/sonrisa-hero-fondo.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
    text-align:center;

    gap:60px;
    padding:80px 5%;
}


@media(min-width:992px){

    #hero{
        flex-direction:row;
        text-align:left;
    }

}
/*Presentación de la empresa*/

#nosotros{
    background-color:var( --celeste-hielo);
    padding:80px 5%;
}

/*Servicios*/
.card-text{
    min-height: 90px;
}

/*Instalaciones*/

#instalaciones{
    background-color:var(--lavanda-fria);
    padding:80px 5%;
}

.carousel-item{
    height:220px;
}

.carousel-item img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:20px;
}

@media(min-width:768px){

    .carousel-item{
        height:350px;
    }

}

@media(min-width:992px){

    .carousel-item{
        height:450px;
    }

}

/*Indicadores*/

#indicadores{
    background-color:var( --celeste-hielo);
    padding:80px 5%;

}


